@import "../../styles/global.scss";

//MOBILE
.benefit-section-wrapper {
  background: #05111d;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "BerlingskeSerif";
  padding-bottom: 48px;
  position: relative;
  overflow: hidden;
}
.benefit-element-backdrop {
  display: none;
}

.benefit-text-wrapper {
  padding: 32px;
}

.benefit-text-top {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 10%;
}

.benefit-text-highlight {
  color: #669999;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
}

.benefit-map {
  width: 90%;
  height: auto;
}

.benefit-grid-title {
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding: 10% 48px;
  font-family: "Poppins";
}

.benefit-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px 24px;
}

.benefit-map-wrapper {
  position: relative;
}

.highway-detail {
  position: absolute;
  bottom: -10%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefit-map-icon {
  height: 32px;
  width: 32px;
}

.highway-detail-title {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  width: 120px;
  font-family: "Poppins";
}

@media screen and (min-width: 480px) {
  .benefit-map {
    width: 50%;
    height: auto;
  }

  .benefit-element-backdrop {
    display: block;
  }
  .benefit-text-top {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 16px;
  }

  .benefit-grid-title {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    font-family: "Poppins";
    padding: 16px;
    padding-top: 64px;
  }

  .benefit-card-grid {
    //do a flex wrap
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px 24px;
  }

  .benefit-element-backdrop {
    width: 80%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-180deg);
  }
}
